<div class="demo-card-wide mdl-card mdl-shadow--2dp" align="center">
	<div class="mdl-card__supporting-text" style="max-width:300px;">
		<form action="set.php?mod=add&class=menu" method="post" onSubmit="return chkinput(this)" style="width:100%;">  
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				<input class="mdl-textfield__input" type="number" name="id" id="id" value="">
				<label class="mdl-textfield__label" for="id">序号</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				<input class="mdl-textfield__input" type="text" name="name" id="name" value="">
				<label class="mdl-textfield__label" for="name">名称</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
				<input class="mdl-textfield__input" type="text" name="link" id="link" value="">
				<label class="mdl-textfield__label" for="link">地址</label>
			</div>
			<input type="submit" name="submit" value="添加" style="width:100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" /></td>  
		</form>
	</div>
</div>